In [4]:
import numpy as np
import pandas as pd
from scipy import stats
import scipy.stats as stats

In [5]:
education_districtwise = pd.read_csv('C:\\Users\\hp\\Desktop\\PYTHON\\Stat\\Day 3\\education_districtwise.csv')
education_districtwise = education_districtwise.dropna()

In [6]:
sampled_data = education_districtwise.sample(n=10, random_state=1)
sampled_data

,AC_YEAR,STATCD,DISTCD,STATNAME,DISTNAME,DISTRICTS,BLOCKS,VILLAGES,CLUSTERS,TOTPOPULAT,...,UUNI_ALL,UUNI_SC,UUNI_ST,TOTCLS1G,TOTCLS2G,TOTCLS3G,TOTCLS4G,TOTCLS5G,TOTCLS6G,TOTCLS7G
603,2015-16,29,2922,KARNATAKA,MANDYA,1,8,1355,145,1808680.0,...,49777,10116,1028,2523,7371,50,95,6,479,117
23,2015-16,2,202,HIMACHAL PRADESH,KANGRA,1,19,1785,358,1507223.0,...,58676,18607,4448,6040,1502,1792,939,917,1848,512
43,2015-16,3,310,PUNJAB,MOGA,1,5,332,46,992289.0,...,30096,24160,86,1873,572,1679,261,365,791,276
653,2015-16,33,3322,TAMIL NADU,PUDUKKOTTAI,1,13,552,145,1618725.0,...,47525,10929,11,4894,2442,737,15,702,487,459
396,2015-16,21,2108,ODISHA,BALASORE,1,16,1830,207,2317419.0,...,73952,19493,11347,5252,4762,30,1074,0,179,1054
69,2015-16,5,513,UTTARAKHAND,HARDWAR,1,6,671,54,1927029.0,...,22381,9051,254,5147,2614,1200,1198,574,317,193
432,2015-16,22,2214,CHHATTISGARH,KANKER,1,7,1268,137,748593.0,...,43362,1777,26107,5033,474,169,1791,55,174,280
92,2015-16,7,702,DELHI,NORTH DELHI,1,6,80,6,883418.0,...,30873,5085,36,1423,426,1055,17,233,126,131
650,2015-16,33,3319,TAMIL NADU,NAGAPATTINAM,1,11,489,100,1614069.0,...,42548,21048,175,4000,1982,830,21,615,533,421
177,2015-16,9,945,UTTAR PRADESH,ALLAHABAD,1,22,2311,295,5959798.0,...,109363,42444,210,17010,4314,1271,6488,1537,501,593

In [7]:
sample_mean = sampled_data['OVERALL_LI'].mean()
sample_mean

77.75399999999999

In [8]:
sample_std = sampled_data['OVERALL_LI'].std()
sample_std

6.411044636666736

In [9]:
estimated_standard_error = sampled_data['OVERALL_LI'].std() / np.sqrt(sampled_data.shape[0])
estimated_standard_error

2.027350323287352

In [10]:
confidence_level = stats.norm.ppf(
    [0.05,0.95],           # Confidence level
    loc=sample_mean,      # Mean of the distribution (point estimate)
    scale=estimated_standard_error  # Standard error (standard deviation of the sampling distribution)
)
confidence_level

array([74.41930547, 81.08869453])

In [19]:
lower_bound, upper_bound = stats.norm.ppf([0.025, 0.975], loc=sample_mean, scale=estimated_standard_error)
print(lower_bound, upper_bound)

73.78046638231115 81.72753361768883

In [21]:
lower_bound, upper_bound = stats.norm.ppf([0.05, 0.95], loc=sample_mean, scale=estimated_standard_error)
print(lower_bound, upper_bound)

74.41930546763955 81.08869453236044

In [22]:
lower_bound, upper_bound = stats.norm.ppf([0.01, 0.99], loc=sample_mean, scale=estimated_standard_error)
print(lower_bound, upper_bound)

73.03767788548444 82.47032211451554